<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>


@@include("../blocks/modules/section-warning/section-warning.html")
@@include("../blocks/modules/header/header.html")
<div class="main-post__wrapper">
    <div class="wrapper">
        <div class="main-post post">
            <div class="post__image main-post__image">
                <img src="img/pic.jpg" alt="pic" width="600px" height="400px">
            </div>
            <div class="post__text main-post__text">
                <a href="#">
                    <h2 class="post__text--title">TV Addons: Legal battle against Canadian media giants demonstrates severe
                        consequences facing developers accused of copyright infringement
                    </h2>
                </a>
                <div class="post__text--desc">
                    <div class="name">Danica Sergison</div>
                    <div class="data">JUL 08, 2018</div>
                </div>
                <div class="post__text--tags">
                    <a href="#">Copyright,</a>
                    <a href="#">News,</a>
                    <a href="#">Open Source,</a>
                    <a href="#">Privacy</a>
                </div>
                <div class="post__text--comments">
                    <svg>
                        <use xlink:href="img/sprites/sprite.svg#comment"></use>
                    </svg>
                    <span>0</span>
                </div>
            </div>
        </div>
        <div class="search main-post__search">
            <label for="search" class="search--label">
                <svg>
                    <use xlink:href="img/sprites/sprite.svg#search"></use>
                </svg>
            </label>
            <input type="text"
                   name="search"
                   id="search"
                   placeholder="Search blog"
                   class="search--input">
        </div>
    </div>
</div>
@@include("../blocks/modules/block-tags/block-tags.html")
<div class="main">
    <div class="wrapper">
        <div class="main__items">
            <div class="main__items__item main__items__item--posts">
                <div class="posts">
                    <h2 class="posts__title">Recent posts</h2>
                    <div class="post">
                        <div class="post__image">
                            <img src="img/pic-1.jpg" alt="pic" width="280px" height="180px">
                        </div>
                        <div class="post__text">
                            <a href="#">
                                <h3 class="post__text--title">The Internet Cannot be Trusted – Beamsplitters, Backdoors, and
                                    Broken Promises
                                </h3>
                            </a>
                            <div class="post__text--desc">
                                <div class="name">Derek Zimmer</div>
                                <div class="data">JUL 25, 2018</div>
                            </div>
                            <div class="post__text--tags">
                                <a href="#">Governments,</a>
                                <a href="#">Networking,</a>
                                <a href="#">Open Source,</a>
                                <a href="#">Privacy,</a>
                                <a href="#">Security</a>
                            </div>
                            <div class="post__text--comments">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#comment"></use>
                                </svg>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="img/pic-2.jpg" alt="pic" width="280px" height="180px">
                        </div>
                        <div class="post__text">
                            <a href="#">
                                <h3 class="post__text--title">How to get cheaper flights using a VPN
                                </h3>
                            </a>
                            <div class="post__text--desc">
                                <div class="name">Jayson</div>
                                <div class="data">JUL 24, 2018</div>
                            </div>
                            <div class="post__text--comments">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#comment"></use>
                                </svg>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="img/pic-3.jpg" alt="pic" width="280px" height="180px">
                        </div>
                        <div class="post__text">
                            <a href="#">
                                <h3 class="post__text--title">Net Neutrality was repealed, but the fight is far from over
                                </h3>
                            </a>
                            <div class="post__text--desc">
                                <div class="name">Chris Miller</div>
                                <div class="data">JUL 22, 2018</div>
                            </div>
                            <div class="post__text--tags">
                                <a href="#">Governments,</a>
                                <a href="#">Net Neutrality,</a>
                                <a href="#">News</a>
                            </div>
                            <div class="post__text--comments">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#comment"></use>
                                </svg>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="img/pic-1.jpg" alt="pic" width="280px" height="180px">
                        </div>
                        <div class="post__text">
                            <a href="#">
                                <h3 class="post__text--title">The Internet Cannot be Trusted – Beamsplitters, Backdoors, and
                                    Broken Promises
                                </h3>
                            </a>
                            <div class="post__text--desc">
                                <div class="name">Derek Zimmer</div>
                                <div class="data">JUL 25, 2018</div>
                            </div>
                            <div class="post__text--tags">
                                <a href="#">Governments,</a>
                                <a href="#">Networking,</a>
                                <a href="#">Open Source,</a>
                                <a href="#">Privacy,</a>
                                <a href="#">Security</a>
                            </div>
                            <div class="post__text--comments">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#comment"></use>
                                </svg>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="img/pic-2.jpg" alt="pic" width="280px" height="180px">
                        </div>
                        <div class="post__text">
                            <a href="#">
                                <h3 class="post__text--title">How to get cheaper flights using a VPN
                                </h3>
                            </a>
                            <div class="post__text--desc">
                                <div class="name">Jayson</div>
                                <div class="data">JUL 24, 2018</div>
                            </div>
                            <div class="post__text--comments">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#comment"></use>
                                </svg>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__image">
                            <img src="img/pic-3.jpg" alt="pic" width="280px" height="180px">
                        </div>
                        <div class="post__text">
                            <a href="#">
                                <h3 class="post__text--title">Net Neutrality was repealed, but the fight is far from over
                                </h3>
                            </a>
                            <div class="post__text--desc">
                                <div class="name">Chris Miller</div>
                                <div class="data">JUL 22, 2018</div>
                            </div>
                            <div class="post__text--tags">
                                <a href="#">Governments,</a>
                                <a href="#">Net Neutrality,</a>
                                <a href="#">News</a>
                            </div>
                            <div class="post__text--comments">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#comment"></use>
                                </svg>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn--transparent">older posts</a>
                </div>
            </div>
            <div class="main__items__item main__items__item--aside">
                <aside class="aside">
                    <div class="search">
                        <label for="search" class="search--label">
                            <svg>
                                <use xlink:href="img/sprites/sprite.svg#search"></use>
                            </svg>
                        </label>
                        <input type="text"
                               name="search"
                               id="search"
                               placeholder="Search blog"
                               class="search--input">
                    </div>
                    <div class="aside-block">
                        <div class="aside-block--title">
                            <svg>
                                <use xlink:href="img/sprites/sprite.svg#call"></use>
                            </svg>
                            <h5>Announcements</h5>
                        </div>
                        <ul class="aside-block__list">
                            <li class="aside-block__list--item">
                                <a href="#">Upcoming Changes (Live Chat, Less Censorship, More Access)</a>
                            </li>
                            <li class="aside-block__list--item">
                                <a href="#">New Servers (US Washington DC)</a>
                            </li>
                            <li class="aside-block__list--item">
                                <a href="#">New Servers (US Denver)</a>
                            </li>
                            <li class="aside-block__list--item">
                                <a href="#">Open Source: Releasing the PIA iOS Client</a>
                            </li>
                            <li class="aside-block__list--item">
                                <a href="#">Opera Extension is now available</a>
                            </li>
                        </ul>
                    </div>
                    <div class="aside-block">
                        <div class="aside-block--title">
                            <svg>
                                <use xlink:href="img/sprites/sprite.svg#popular"></use>
                            </svg>
                            <h5>Popular posts</h5>
                        </div>
                        <ul class="aside-block--list">
                            <li class="aside-block__list--item">
                                <a href="#">The Gift of Privacy</a>
                            </li>
                            <li class="aside-block__list--item">
                                <a href="#">UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous
                                    Gesture</a>
                            </li>
                            <li class="aside-block__list--item">
                                <a href="#">About the PIA Client Security and VPN Security in General</a>
                            </li>
                            <li class="aside-block__list--item">
                                <a href="#">A Private Net Is Just As Fundamental A Right As Freedom Of Speech</a>
                            </li>
                            <li class="aside-block__list--item">
                                <a href="#">Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So
                                    Don’t Fall For That Lie</a>
                            </li>
                        </ul>
                    </div>
                    <div class="aside__banner">
                        <img src="img/image.jpg" alt="pic" width="340px" height="354px">
                    </div>
                    <div class="aside__tags">
                        <h5>Tag cloud</h5>
                        <img src="img/image-tags.jpg" alt="pic" width="324px" height="309px">
                    </div>
                </aside>
            </div>
        </div>
    </div>
    @@include("../blocks/modules/block-stock/block-stock.html")
</div>
@@include("../blocks/modules/footer/footer.html")
<!--@@include("../blocks/modules/faq/faq.html")
    @@include("../blocks/modules/modal/modal.html")
    @@include("../blocks/modules/menu/menu.html")
    @@include("../blocks/modules/checkbox/checkbox.html")
    @@include("../blocks/modules/tabs/tabs.html")-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>

</html>